 body{ 
    font-family: 'Roboto', sans-serif;
    color: #434455; 
    background-color: #FFFFFF; 
    margin: 0;
} 
a{
    text-decoration: none;
}
ul, ol{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6, p{
    margin: 0;
}

img{
    display: block;
}

.container {
    max-width: 1158px;
    padding: 0 15px;
    margin: 0 auto;
}

/* Header */

.header{
    border: 1px solid #e7e9fc
}

.page-container{
    display: flex;
}


.header-nav{
    display: flex;
    align-items: center;
    
}

.menu{
    display: flex;
    gap: 40px;
}

.contact-list{
    display: flex;
    align-items: center;
    gap: 40px;
}

.logo{
    margin-right: 76px;
    padding-top: 24px;
    padding-bottom: 24px;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}

.logo-part{
    font-family: "Raleway", sans-serif;
    color: #2e2f42;

}

.navigation-item{
    padding: 24px 0;
    display: block;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.navigation-item:hover, .navigation-item:focus{
    color: #404bbf;
}

.portfolio:hover, .contacts:hover{
    color: #404bbf;
}

.contact-info{
    display: flex;
    font-style: normal;
    margin-left: auto;
    
}

.contacts{
    padding: 24px 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.contacts:hover, .contacts:focus{
    color: #404bbf;
}


/* Intro */

.section-intro{
    background-color: #2e2f42;
    padding: 188px 0;
}

.page-title{
    max-width: 496px;
    align-items: center;
    margin: 0 auto;
    padding-bottom: 48px;
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    color: #fff;
}

.btn-container{
    display: flex;
    justify-content: space-evenly;
    
}

.order-button{   
    display: block;
    border-radius: 4px;
    padding: 16px 32px;
    min-width: 169px;
    border: none;
    border-radius: 4px;
    margin: 0 auto;
    height: 56px;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
    background-color:  #4d5ae5;
    cursor: pointer;
} 
.order-button:hover, .order-button:focus{
    background-color: #404bbf;
    
}

/* Section titles */

.section-title{
    margin: 0 auto;
    text-transform: capitalize;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
}

/* Info content */

.benefits-section{
    padding: 120px 0;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.benefits-list{
    display: flex;
    gap: 24px;
    
}

.benefits-item{
    width: calc((100% - 24px*3) / 4);
}

.benefits{
    margin-bottom: 8px;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.benefits-content{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

/* Team */

.section-title{
    margin-bottom: 72px;
}

.team-cards {
    padding: 120px 0;
    background-color: #f4f4fd;
}

.team-list{
    display: flex;
    gap: 24px;
    

}

.card-info{
    padding: 32px 0;
    margin: 0 auto;
}
.list-item{
    background-color: #FFFFFF;
    width: calc((100%-72px) / 4);
    border-radius: 0px 0px 4px 4px;
}

.team-member{
   margin-bottom: 8px;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
}

.position{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #434455; 
}

/* Portfolio */

.portfolio-section{
    padding-top: 120px;
    padding-bottom: 120px;
}

.section-title{
    margin-bottom: 72px;
}

.portfolio-cards{
    display: flex;
    flex-wrap: wrap;
    row-gap: 48px;
    column-gap: 24px;
    
}

.portfolio-cards-list{
    width: ((100% - 2*24px) / 3);
}

.cards-container{
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;

}
.portfolio-list{
    margin-bottom: 8px;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.portfolio-list-content{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

/* Footer */

.footer {
    padding: 100px 0;
    background-color: #2e2f42;
}

.footer-logo{
    display: inline-block;
    margin-bottom: 16px;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;  
    color: #4d5ae5;
}

.footer-logo-part{
    font-family: "Raleway", sans-serif;
    color: #f4f4fd;
}

.footer-text{
    max-width: 264px;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
}
